@{
    ViewBag.Title = "Food Delivery";
}

<br />
<br />
<br />

<div class="row"  style="border: 1px solid red; padding:9px"> 
    <div class="col-md-3" style="border: 1px solid blue">
        Left Side
    </div>
    <div class="col-md-9" style="border: 1px solid green">
        Right Side
    </div>
</div>

