
@{
    ViewBag.Title = "Food Delivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @*<div class="col" hidden>
            dsfsdfsdfsfdsfssdfsdfsdfsdfsfssdfsdfsdfsdfsfdsdfsdfsdfsdfsdfs
            dsfsdfsdfsfdsfssdfsdfsdfsdfsfssdfsdfsdfsdfsfdsdfsdfsdfsdfsdfs
            dsfsdfsdfsfdsfssdfsdfsdfsdfsfssdfsdfsdfsdfsfdsdfsdfsdfsdfsdfs
            dsfsdfsdfsfdsfssdfsdfsdfsdfsfssdfsdfsdfsdfsfdsdfsdfsdfsdfsdfs
        </div>*@
    <br />    <br />    <br />
    <div class="col" style="text-align: center; margin-top: -80px">
    <img src="~/Photos/FD_LOGO.png" width="" height="" alt="FOODSpace" style="" />
    </div>

</div>

<div id="btnM">
    @Html.ActionLink("МЕНЮ", "MainPage" , "Home", null, new { @class = "btn btn-primary", id = "menuBtn" })
</div>




<style>
    #menuBtn{
      font-size:large;
        background-color:red;
        border:1px solid red;
    }
        #menuBtn:hover {
            background-color: darkred;
            border: 1px solid darkred;
        }
        #btnM {
            text-align: center;
        }

</style>