
@{
    ViewBag.Title = "Food Delivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="" >
    @*<div class="col" hidden>
        dsfsdfsdfsfdsfssdfsdfsdfsdfsfssdfsdfsdfsdfsfdsdfsdfsdfsdfsdfs
        dsfsdfsdfsfdsfssdfsdfsdfsdfsfssdfsdfsdfsdfsfdsdfsdfsdfsdfsdfs
        dsfsdfsdfsfdsfssdfsdfsdfsdfsfssdfsdfsdfsdfsfdsdfsdfsdfsdfsdfs
        dsfsdfsdfsfdsfssdfsdfsdfsdfsfssdfsdfsdfsdfsfdsdfsdfsdfsdfsdfs
    </div>*@
    <img src="~/Photos/logo.png" width="" height="500" alt="FOODSpace" />
</div>

<div id="btnM">
    @Html.ActionLink("МЕНЮ", "MainPage" , "Home", null, new { @class = "btn btn-primary", id = "#menuBtn" })
</div>




<style>
    #menuBtn{
        font-size:x-large;
    }
    #btnM {
        text-align: center;
    }

</style>