@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Привіт  " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: 
           new { title = "Manage", style = "color:gold;margin-right:40px;font-size:middle;text-decoration:none" })
        </li>
        <li><a style="border:1px solid white;color:white;text-decoration:none;padding:12px;border-radius:6px;margin-right:32px" 
               href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Увійти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}


<style>
    #loginLink {
        font-weight:bold;
        background-color: blueviolet;
        color: white;
        border-radius: 9px;
        font-family: 'Times New Roman';
        padding: 12px;
        text-decoration:none
    }

        #loginLink:hover {
            background-color: darkviolet;
            color: white;
        }

        #loginLink:active {
            background-color: violet;
            color: wheat;
        }
</style>
