

<div class="row">
    <div class="col">
        <ul class="list-group" style="font-family:'Palatino Linotype';font-weight:bold">
            <li class="list-group-item">
                <div style="width:220px;margin:auto">
                    <img src="@Url.Content("~/Photos/Logo/payment.png")" width="200" />
                </div>
                <h3 style="text-align:center">Payment Information</h3>
            </li>
            <li class="list-group-item list-group-item-dark">
                PAYMENT
            </li>
            <li class="list-group-item list-group-item-dark">
                BELOW 1000 GRIVNA WILL HENCEFORTH REQUIRE PRE PAYMENT OF
                300 GRIVNA TO OUR ACCOUNT, ORDERS ABOVE 1000 UAH WILL
                REQUIRE PRE PAYMENT OF 300 GRIVNA TO OUR ACCOUNT, FULL PRE
                PAYMENT IS VERY WELCOME..
            </li>
            <li class="list-group-item list-group-item-dark">
                AND GOES WITH FREE DELIVERY ~
                FOR ORDERS ABOVE 1300 UAH(DEPARTMENT PICK UP) FREE
                HOME DELIVERY ON ORDERS ABOVE 1800 UAH,FRESH
                VEGETABLES OR FROZEN MEAT ORDERS REQUIRE FULL PAYMENT
            </li>
            <li class="list-group-item list-group-item-dark">
                <p>BEFORE SHIPPING</p>
                <p>PRIVAT BANK</p>
                <p>''Name Surname'</p>
                <a target="_blank" href="https://next.privat24.ua/payments/manual"> 1111 2222 3333 4444.</a>
            </li>
        </ul>
    </div>
</div>


